<!DOCTYPE html>
<html lang="en">
  <head>
    <% include head %>
  </head>
  <body>
    <div class="container">
     <div class="card mt-3">
      <h3 class="card-header">Makuuhuone</h3>
      <div class="card-block">
        <button id="button-1-on" type="button" class="btn btn-success">Päälle</button>
        <button id="button-1-off" type="button" class="btn btn-danger">Pois</button>
      </div>
    </div>
    <div class="card mt-3">
      <h3 class="card-header">Keittiö</h3>
      <div class="card-block">
        <button id="button-2-on" type="button" class="btn btn-success">Päälle</button>
        <button id="button-2-off" type="button" class="btn btn-danger">Pois</button>
      </div>
    </div>
</div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="index.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>